:root{
  --color1:  #2e4053 ;
}


.cabeza{
    background-color: #ebf5fb  ;
}
.titulo1{
    background-color: var(--color1);
    color: white;
    margin: auto,auto;
}
.titulo2{
    background-color: #2e4053 ;
    color: white;
}
.ticketnuevo{
    margin-top: 20px;
    height: 70px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.ticketnuevo2{
    margin-top: -70px;
    height: 70px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-left: 250px;
}
.ticketnuevo3{
    margin-top: -70px;
    height: 70px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-left: 500px;
}
.ticketnuevo4{
    margin-top: -70px;
    height: 70px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-left: 750px;
    
}
.perfil{
    background-color: #D6DBDF;
    
}
.datos{
    margin-top: 10px;
    margin-left: 200px;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow:
       inset 0 -3em 3em rgba(255,255,255),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.datos2{
    margin-left: 100px;
}
.login{
    margin: 130px 450px auto 450px;
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow:
       inset 0 -3em 3em rgba(255,255,255),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}
.bodyindex{
    background-color: #D6DBDF;
   
      
}
.formulario{
    background-color: #ffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(255,255,255),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}