:root{
  --color1: #85929E;
}

body{
 
}
.cabeza{
    background-color: #ebf5fb  ;
}
.titulo1{
    background-color: var(--color1);
    color: white;
    margin: auto,auto;
}
.titulo2{
    background-color: #D6DBDF;
}
.ticketnuevo{
    margin-top: 20px;
    height: 70px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.ticketnuevo2{
    margin-top: -70px;
    height: 70px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-left: 250px;
}
.ticketnuevo3{
    margin-top: -70px;
    height: 70px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-left: 500px;
}
.ticketnuevo4{
    margin-top: -70px;
    height: 70px;
    width: 200px;
    background-color: red;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-left: 750px;
}
.perfil{
    background-color: #D6DBDF;
}
.datos{
    margin-top: 10px;
    margin-left: 200px;
    background-color: #D6DBDF;
    border-radius: 8px;
}
.datos2{
    margin-left: 100px;
}
.login{
    margin: 130px 450px auto 450px;
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}
.bodyindex{
    background-color: #D6DBDF;
}